.footer {
    background-color: var(--darkblue);
    padding: 50px;
    display: flex;
    min-height: fit-content;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  
  .navigation2 {
    text-align: left;
    max-width: fit-content;
    flex-grow: 1;
    position: relative;
  }
  
  .navigation2 a {
    text-decoration: none;
    padding-right: 100px;
    padding-top: 7px;
    display: inline-block;
    color: var(--white);
  }
  
  .logo2 {
    position: relative;
    padding-right: 60px;
  }
  
  .socialmedia {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: auto;
  }
  
  .twitter, .insta, .facebook, .linked, .youtube {
    background-color: var(--grey);
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    margin: 10px;
    width: 35px;
    height: 35px;
  }
  
  .twitter, .facebook, .linked, .youtube {
    padding-top: 7.5px;
  }
  
  .youtube {
    margin-right: 0;
  }
  
  @media (max-width: 950px) {
    .socialmedia {
      margin-left: 0;
    }
  }
  
  @media (max-width: 600px) {
    .navigation2 a {
      padding-right: 70px;
    } 
    .navigation2 a:last-child {
      padding-right: 0;
    }
  }
  
  @media (max-width: 450px) {
    .navigation2 a {
      padding-right: 50px;
    } 
  }
  
  @media (max-width: 380px) {
    .footer {
      padding: 15px;
    }
    .navigation2 a {
      padding-right: 25px;
    } 
  }