.row1 {
    background-color: var(--darkblue);
    min-height: fit-content;
    justify-content: center;
  }
  
  .col1 {
    position: relative;
    align-self: center;  
    color: var(--white);
    padding: 50px;
    padding-top: 120px;
  }
  
  .col2 {
    background-image: url(../img/cards-desktop.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
  }
  
  .row1, .col1, .col2, .apps {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
  }

  .col2, .col1 {
   width: 50%;   
  }
  
  .text1 {
    color: var(--lightgrey);
    padding-right: 20px;
    max-width: 425px;
  }
  
  .text2 {
    padding-top: 60px;
    padding-right: 60px;
    color: var(--grey);
  }
  
  .apps {
  padding-top: 25px;
  justify-content: left;
  }
  
  .apple {
    position: relative; 
    padding-right: 15px;
  }
  
  .android {
    position: relative;
  }
  
  @media (max-width: 900px) {
   .col1 {
     padding-right: 0;
   }
  }
  
  @media (max-width: 600px) {
    .row1 {
      display: block;
      padding: 50px;
      padding-bottom: 0;
    }
    .col2 {
      background-image: url(../img/cards-mobile.png);
      background-position: center bottom;
      background-size: contain;
      min-height: 450px;
  
    }
    .col1, .col2, .text1 {
      width: 100%;
    }
    .col1 {
      padding: 0;
    }
    .text1 {
      padding-right: 0;
    }
  }
  
  @media (max-width: 450px) {
    .col2 {
      min-height: 300px;
    }
    .text2 {
      padding-right: 0;
    }
  }
  
  @media (max-width: 380px) {
    .row1 {
      padding: 15px;
      padding-bottom: 0;
    }
    .text2 {
      padding-top: 20px;
    }
    .apps {
      flex-direction: column;
      align-content: center;
    } 
  }
  