.header {
    background-color: var(--darkblue);
    min-height: fit-content;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    border-bottom: solid var(--lightgrey) 0.1px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .logo1 {
    top: 20px;
    position: relative;
  }
  
  .navigation {
    text-align: center;
    max-width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navigation a {
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    color: var(--white);
  }
  
  .navigation a:first-child, .navigation .icon {
    display: none;
  }
  
  
  .box {
    background-color: var(--blue);
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 5px;
    padding-right: 12px;
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    color: var(--white);
  }

  @media (max-width: 730px) {
    .navigation a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .box {
      display: none;
    }
  }
  
  @media (max-width: 520px) {
    .navigation {
      margin-right: 0;
      flex-wrap: wrap;
    }
    .navigation a{
      display: none;
      padding-left: 5px;
      padding-right: 5px;
    }
    .navigation a:first-child, .navigation, .navigation.responsive, .navigation.responsive a {
      display: flex;
    }
    .navigation a.icon {
      float: right;
      display: block;
    }
    .navigation.responsive {
      position: relative;
      flex-direction: column;
    }
    .navigation.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navigation.responsive a {
      float: none;
      text-align: left;
    }
  }
  
  @media (max-width: 380px) {
    .header {
      padding-right: 15px;
      padding-left: 15px;
    }
  }