:root {
    --darkblue: rgb(18, 32, 58);
    --lightgrey: rgb(149, 150, 156);
    --blue: rgb(0, 174, 255);
    --white: white;
    --grey: rgba(97, 110, 146, 0.836);
    --light: rgb(226, 225, 225);
    --normal1: 14px;
    --normal2: 16px;
    --normal3: 18px;
    --middle1: 22px;
    --middle2: 24px;
    --large1: 30px;
    --large2: 35px;
}